@import "bootstrap";

$lightGrey: #d9d9d9;

body {
  display: block;
  padding-top: 50px;
  background: $lightGrey;
}

.navbar-brand {
  padding-left: 20px;
  font-weight: bold;

}

.footer {
  border-top: 3px solid black;

}

.footer-links {
  margin-top: 5px;
  margin-bottom: 10px;
}

.list-image {
  max-height: 200px;
  min-height: 200px;
}
